In [93]:
import pandas as pd

NAME_ARCHIVE = "prueba_tecnica.xlsx"
INDEX_SHEET = 1
LISTA_COUNTRY = []

def load_archive():
  return pd.read_excel(NAME_ARCHIVE,sheet_name=INDEX_SHEET)

def count_data_na(data):
  data = data.isna().sum()
  return data

def clean_data(data):
  #data = data.fillna(0) # rellena vacios o na a 0
  data =  data.dropna() # elimina columna completa con elemento 0
  return data

def weeknum(data):  
  fecha = data["Fecha de creacion"]
  fecha = pd.to_datetime(fecha)
  fecha.astype('int64').dtypes
  return  fecha.dt.week
  
def weekday(data):  
  import datetime
  fecha = pd.to_datetime(data["Fecha de creacion"])
  day = pd.DatetimeIndex(fecha).day
  month = pd.DatetimeIndex(fecha).month
  result = (day - fecha.dt.dayofweek).apply(str)
  test = fecha.dt.month.apply(str) + "-" + result + "-" +fecha.dt.year.apply(str)
  return pd.to_datetime(test)
    
dates = load_archive()
dates = dates.drop(0) #Elimina columna 0 (titulos extras) - only datos
dates.rename(columns = {"País →":"Fecha de creacion"},inplace=True) #Remplaza titulo
count_dates = count_data_na(dates) #contador de elementos vacios
dates = clean_data(dates)
dates.drop_duplicates(keep='last', inplace= True)

#Agrega nuevas tablas -Info extra
dates["Semana"] = weeknum(dates) 
dates["Fecha inicio semana"] = weekday(dates)


#Crea nuevo dataframe con nuevos valores
dates_filtre =  pd.DataFrame(data={
    'Fecha inicio semana': dates["Fecha inicio semana"],
    'Semana' : dates["Semana"],
    'Fuerza_Ventas_Argentina' : dates["Argentina"],
    'Fuerza_Ventas_Brasil' : dates["Brasil"],
    'Fuerza_Ventas_Chile' : dates["Chile"],
    'Fuerza_Ventas_Peru' : dates["Peru"],
    'Fuerza_Ventas_Total' : 0,
})

#Agrupa por columa fecha_semana - aplica sum a varios repetidos 
dates_filtre = dates_filtre.groupby(['Semana','Fecha inicio semana']).agg(
    {
        "Fuerza_Ventas_Argentina" : "sum",
        "Fuerza_Ventas_Brasil" : "sum",
        "Fuerza_Ventas_Chile" : "sum",
        "Fuerza_Ventas_Peru" : "sum",
    }
).reset_index()


#Convierte type objet a int
dates_filtre = dates_filtre.astype(
  {"Fuerza_Ventas_Argentina":"int",
  "Fuerza_Ventas_Brasil":"int",
  "Fuerza_Ventas_Chile":"int",
  "Fuerza_Ventas_Peru":"int"}
)

dates_filtre["Fuerza_Ventas_Total"] = dates_filtre[['Fuerza_Ventas_Argentina','Fuerza_Ventas_Brasil','Fuerza_Ventas_Chile','Fuerza_Ventas_Peru']].sum(axis=1, numeric_only=True)
#dates_filtre.Fuerza_Ventas_Argentina

#print("Elementos vacios encontrados : \n{} ".format(count_dates))
#dates_filtre.dtypes //saber types de elementos


dates_filtre.head(40)

C:\Users\PERSONAL\AppData\Local\Temp\ipykernel_4648\3164274940.py:23: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  return  fecha.dt.week

,Semana,Fecha inicio semana,Fuerza_Ventas_Argentina,Fuerza_Ventas_Brasil,Fuerza_Ventas_Chile,Fuerza_Ventas_Peru,Fuerza_Ventas_Total
0,14,2019-04-01,722,2016,2270,2287,7295
1,15,2019-04-08,349,3598,2390,2041,8378
2,16,2019-04-15,417,2788,4195,2249,9649
3,17,2019-04-22,440,2714,3256,2623,9033
4,18,2019-04-29,190,584,837,638,2249
5,18,2019-05-01,68,768,1891,1522,4249
6,19,2019-05-06,438,908,2485,2404,6235
7,20,2019-05-13,415,798,3255,3116,7584
8,21,2019-05-20,433,2510,2667,3078,8688
9,22,2019-05-27,418,1623,1138,1815,4994
10,22,2019-06-04,69,181,436,427,1113
11,23,2019-06-03,496,2536,1638,2459,7129
12,24,2019-06-10,757,4783,1311,2329,9180
13,25,2019-06-17,691,3460,1244,2486,7881
14,26,2019-06-24,547,6163,1124,2132,9966
15,27,2019-07-01,269,3173,1614,2809,7865
16,28,2019-07-08,283,5680,1891,2354,10208
17,29,2019-07-15,356,5336,2182,2245,10119
18,30,2019-07-22,773,5771,1615,2296,10455
19,31,2019-07-29,406,2364,688,1064,4522