In [8]:
import pandas as ps
import dates_module as dm

def get_sex_number(data):
    if data == "male":
        return 0
    return 1

def get_descript_survived(data):
    (dead,survived) = data
    print("Tripulantes Muertos: {} \nTrupilantes Vivos {}".format(dead,survived))

def get_descript_survived_sex(data,sex):
    (dead,survived) = data
    print("Sexo : {}\nTripulantes Muertos: {} \nTrupilantes Vivos {}".format(sex,dead,survived))


NAME_ARCHIVE = "titanic.csv"
dates = dm.load_archive(NAME_ARCHIVE,"csv")

#crear nueva columna y aplicar valor nuevo
dates["sexo"] = dates["Sex"].apply(get_sex_number)

#seleccion de x columnas
dates = dates[["Pclass","Survived","Name","Sex","sexo"]]

sex = "male"

#filtro de datos
dates = dates.loc[(dates["Sex"] == sex)]

get_descript_survived_sex(dm.get_value_counts(dates.Survived),sex)

Sexo : male
Tripulantes Muertos: 109
Trupilantes Vivos 468

In [16]:
dates.head(3)

,Pclass,Survived,Name,Sex,sexo
0,3,0,"Braund, Mr. Owen Harris",male,0
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1
2,3,1,"Heikkinen, Miss. Laina",female,1

In [10]:
dm.get_dates_info(dates)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB